[Unit]
Description=CCTV service

[Install]
WantedBy=multi-user.target

[Service]
User=pi
Group=pi
Type=simple
ExecStart=/bin/bash -lic "/home/pi/projects/cctv/start.sh"
Restart=always
RemainAfterExit=true
RestartSec=10s
