[Unit]
Description=CCTV service

[Install]
WantedBy=multi-user.target

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/projects/cctv
ExecStart=/bin/bash -lic "./start.sh daemon || exit $?"
Restart=always
RemainAfterExit=true
RestartSec=10s
